node-red/Clipboard.txt
[{"id":"ed5e507d.1e443","type":"tab","label":"Flow 1"},{"id":"c48d4f3a.7d5ab","type":"ibmiot in","z":"ed5e507d.1e443","authentication":"boundService","apiKey":"","inputType":"evt","deviceId":"Office","applicationId":"","deviceType":"CC3220FS-LauchXL","eventType":"status","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":false,"allApplications":"","allDeviceTypes":false,"allEvents":false,"allCommands":"","allFormats":"","qos":0,"x":268,"y":155,"wires":[["6353e708.29a998","e5ed897a.ba07a8","26217cde.0ef684","3e79ca5f.508ca6"]]},{"id":"6353e708.29a998","type":"debug","z":"ed5e507d.1e443","name":"","active":false,"console":"false","complete":"payload","x":536,"y":386,"wires":[]},{"id":"7052d7c2.9e4f58","type":"inject","z":"ed5e507d.1e443","name":"","topic":"","payload":"{\"led\":1}","payloadType":"json","repeat":"","crontab":"","once":false,"x":320.5,"y":729,"wires":[["13f7f221.e636ae"]]},{"id":"13f7f221.e636ae","type":"ibmiot out","z":"ed5e507d.1e443","authentication":"boundService","apiKey":"","outputType":"cmd","deviceId":"Office","deviceType":"CC3220FS-LauchXL","eventCommandType":"led","format":"json","data":"{\"led\":1}","qos":0,"name":"IBM IoT","service":"registered","x":578.5,"y":743,"wires":[]},{"id":"e5ed897a.ba07a8","type":"function","z":"ed5e507d.1e443","name":"Get temperature","func":"\n return {payload:msg.payload.d.temp};","outputs":1,"noerr":0,"x":538,"y":205,"wires":[["b4be184f.f110e8","550902cc.3a877c"]]},{"id":"b4be184f.f110e8","type":"ui_chart","z":"ed5e507d.1e443","tab":"2f457f43.34885","name":"Temperature","group":"Temperature","order":1,"interpolate":"cardinal","nodata":"No Data","removeOlder":"1","removeOlderUnit":"3600","x":763,"y":203,"wires":[[],[]]},{"id":"550902cc.3a877c","type":"ui_gauge","z":"ed5e507d.1e443","tab":"2f457f43.34885","name":"Current","group":"Temperature","order":"2","format":"{{value}}","min":0,"max":"60","x":753,"y":249,"wires":[]},{"id":"f8b202b3.84fc9","type":"ui_switch","z":"ed5e507d.1e443","tab":"2f457f43.34885","name":"Led","topic":"Temperature","group":"Led control","order":1,"onvalue":"1","offvalue":"0","x":303.5,"y":838,"wires":[["13f7f221.e636ae"]]},{"id":"26217cde.0ef684","type":"function","z":"ed5e507d.1e443","name":"Get ACC","func":"var msgx={};\nmsgx.payload=msg.payload.d.ax;\nmsgx.topic='Ax';\nvar msgy={};\nmsgy.payload=msg.payload.d.ay;\nmsgy.topic='Ay';\nvar msgz={};\nmsgz.payload=msg.payload.d.az;\nmsgz.topic='Az';\n return [msgx,msgy,msgz];","outputs":"3","noerr":0,"x":548.5,"y":301,"wires":[["9b06244e.bbe888"],["9b06244e.bbe888"],["9b06244e.bbe888"]]},{"id":"9b06244e.bbe888","type":"ui_chart","z":"ed5e507d.1e443","tab":"2f457f43.34885","name":"Acc","group":"Acceleration","order":1,"interpolate":"linear","nodata":"No Data","removeOlder":1,"removeOlderUnit":"60","x":876.5,"y":295,"wires":[[],[]]},{"id":"25d08fe5.93192","type":"http in","z":"ed5e507d.1e443","name":"RTI Action","url":"/RTI-alert","method":"post","swaggerDoc":"","x":327.5,"y":508,"wires":[["6900469c.95d078","273bbf51.73e91"]]},{"id":"273bbf51.73e91","type":"debug","z":"ed5e507d.1e443","name":"","active":false,"console":"false","complete":"payload","x":850.5,"y":512,"wires":[]},{"id":"2704746c.0ded3c","type":"twitter out","z":"ed5e507d.1e443","twitter":"","name":"Tweet T2Techhub","x":900.5,"y":656,"wires":[]},{"id":"6900469c.95d078","type":"function","z":"ed5e507d.1e443","name":"Create twitter payload","func":"var content={};\nvar time=msg.payload.timestamp;\nvar msgr=msg.payload.message;\nvar obj = JSON.parse(msgr);\nvar temp=obj.d.temp;\nvar date = new Date(parseInt(time)).toISOString();\ncontent.payload=\"#T2IoTBot\\nThe temperature is \"+temp+\"°C at \"+date+\"\\nhttps://t2demo.mybluemix.net/ui\\n@TXInstruments #CC3220 @IBMIoT #IoT\"\nreturn content;","outputs":1,"noerr":0,"x":594.5,"y":599,"wires":[["614c7e9.5cc4c8","2704746c.0ded3c"]]},{"id":"614c7e9.5cc4c8","type":"debug","z":"ed5e507d.1e443","name":"","active":false,"console":"false","complete":"false","x":897.5,"y":579,"wires":[]},{"id":"3e79ca5f.508ca6","type":"function","z":"ed5e507d.1e443","name":"Create payload save","func":"var msgx={};\nvar time=new Date().getTime();\nmsgx.temp=msg.payload.d.temp;\nmsgx.time=time;\nmsgx.type='log';\nreturn {payload:msgx};","outputs":1,"noerr":0,"x":571.5,"y":79,"wires":[["b0d8ee97.fc4d5"]]},{"id":"b0d8ee97.fc4d5","type":"debug","z":"ed5e507d.1e443","name":"","active":true,"console":"false","complete":"payload","x":975.5,"y":69,"wires":[]},{"id":"82d9d738.91a0c8","type":"cloudant out","z":"ed5e507d.1e443","name":"Save tempLog for Ai","cloudant":"","database":"temp_log_query","service":"t2demo-cloudantNoSQLDB","payonly":true,"operation":"insert","x":1055.5,"y":142,"wires":[]},{"id":"2f457f43.34885","type":"ui_tab","name":"Home","icon":"dashboard","order":"1"}]